[package]
name = "advent-of-code"
version = "0.1.0"
authors = ["Jesse Luehrs <doy@tozt.net>"]
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
ahash = "0.7.6"
anyhow = "1.0.51"
paw = "1.0.0"
priority-queue = "1.2.1"
regex = "1.5.4"
structopt = { version = "0.3.25", features = ["paw", "wrap_help"] }
